section(class="Section Section--contact")
    p(class="Section__copy Section__copy--lead") Parlez-nous de votre projet ou dites « Bonjour »
        br
    p(class="Section__copy Section__copy--lead")
        a(class="Section__link" href="mailto:hello@jrbros.fr" title="Contactez-nous") hello@jrbros.fr