section(id="projets" class="Section Section--projects")
    p(class="Section__copy Section__copy--lead") Une sélection de nos projets récents et en cours.
    ul(class="Project__list")
        li(class="Project__item")
            header(class="Project__header")
                h3(class="Project__header-title Project__header-title--themakers")
                    img(class="Project__header-screen" width="340" height="240" src="./public/img/projects/themakers/themakers-screen.jpg" alt="The Makers Films")
            .Project__content
                a(class="Project__item-link" title="Voir le projet The Makers" href="http://themakersfilms.com")
                    h4(class="Project__item-subtitle") The Makers - Site web
                p(class="Project__item-copy") Intégration des maquettes pour la nouvelle version du site web.
                ul(class="Skills")
                    li(class="Skills__item Skills__item--integration") Intégration

        li(class="Project__item")
            header(class="Project__header")
                h3(class="Project__header-title Project__header-title--voxeet")
                    img(class="Project__header-screen" width="340" height="240" src="./public/img/projects/voxeet/voxeet-screen.jpg" alt="Voxeet")
            .Project__content
                a(class="Project__item-link" title="Voir le projet Voxeet" href="https://app.voxeet.com/signup")
                    h4(class="Project__item-subtitle") Voxeet - Application web
                p(class="Project__item-copy") Intégration des maquettes et création de composants React.
                ul(class="Skills")
                    li(class="Skills__item Skills__item--integration") Intégration
                    li(class="Skills__item Skills__item--dev") React

        li(class="Project__item")
            header(class="Project__header")
                h3(class="Project__header-title Project__header-title--magiedude")
                    img(class="Project__header-screen" width="340" height="240" src="./public/img/projects/lamagiedude/lamagiedude-screen.jpg" alt="La Magie du Dé")
            .Project__content
                a(class="Project__item-link" title="Voir le projet La magie du dé" href="http://lamagiedude.fr/")
                    h4(class="Project__item-subtitle") La magie du dé - Site web
                p(class="Project__item-copy") Création logo et carte de visite. Réalisation des maquettes et intégration du site web.
                ul(class="Skills")
                    li(class="Skills__item Skills__item--design") Identité visuelle
                    li(class="Skills__item Skills__item--design") Web design
                    li(class="Skills__item Skills__item--integration") Intégration

        li(class="Project__item")
            header(class="Project__header")
                h3(class="Project__header-title Project__header-title--samboat")
                    img(class="Project__header-screen" width="340" height="240" src="./public/img/projects/samboat/samboat-screen.jpg" alt="Samboat")
            .Project__content
                a(class="Project__item-link" title="Voir le projet Samboat" href="http://samboat.fr/")
                    h4(class="Project__item-subtitle") Samboat - Interface utilisateur
                p(class="Project__item-copy") Réalisation et intégration de maquettes pour la page d'accueil et la page "bateau".
                ul(class="Skills")
                    li(class="Skills__item Skills__item--design") UI
                    li(class="Skills__item Skills__item--design") Web design
                    li(class="Skills__item Skills__item--integration") Intégration

        li(class="Project__item")
            header(class="Project__header")
                h3(class="Project__header-title Project__header-title--maisondelasabliere")
                    img(class="Project__header-screen" width="340" height="240" src="./public/img/projects/maisondelasabliere/maisondelasabliere-screen.jpg" alt="Maison de la Sablière")
            .Project__content
                a(class="Project__item-link" title="Voir le projet Maison de la Sablière" href="http://chambresdhotes33.fr/")
                    h4(class="Project__item-subtitle") Maison de la Sablière - Site web
                p(class="Project__item-copy") Réalisation de maquettes et mise en place d'un CMS (Wordpress).
                ul(class="Skills")
                    li(class="Skills__item Skills__item--design") Web design
                    li(class="Skills__item Skills__item--integration") Intégration
                    li(class="Skills__item Skills__item--dev") Wordpress

        li(class="Project__item")
            header(class="Project__header")
                h3(class="Project__header-title Project__header-title--moretv")
                    img(class="Project__header-screen" width="340" height="240" src="./public/img/projects/moretv/moretv-screen.jpg" alt="More TV")
            .Project__content
                a(class="Project__item-link" title="Voir le projet More TV" href="https://issuu.com/moretvmag/docs")
                    h4(class="Project__item-subtitle") More TV - Site web & e-Mag
                p(class="Project__item-copy") Réalisation de maquettes et intégration du site web. Mise en page du magazine.
                ul(class="Skills")
                    li(class="Skills__item Skills__item--design") PAO
                    li(class="Skills__item Skills__item--design") Web design
                    li(class="Skills__item Skills__item--integration") Intégration