doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        block variables
        title #{pageTitle}
        meta(name="description" content="#{pageDesc}")
        meta(name="viewport" content="width=device-width initial-scale=1")
        link(href="./public/favicon.png" rel="shortcut icon")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="./public/style.css")
    body
        main
            block content