extends includes/_template
block variables
    - var pageTitle = "JR BROS. - Application web progressive et site web"
    - var pageDesc = "Conception et développement d'applications web progressives et sites web"
block content
    include includes/_hero-unit.jade
    include includes/_projects.jade
    include includes/_contact.jade
